<head>
    <meta charset="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{.Site.Title}}</title>

    <!-- 使用url函数转换相关路径 -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/prism.css">
    <link type="text/css" rel="stylesheet" href="/css/zoom.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    {{- if .Site.Params.isIconNav}}
    <link type="text/css" rel="stylesheet" href="/css/all.css">
    {{- end}}

    <!--[if lt IE 9]>
    <script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="http://cdn.staticfile.org/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>